@import "themes/L-m-b.css";
/* Change this import to switch themes */

* {
  font-family: "Comfortaa";
  font-size: 13pt;
  font-weight: bold;
}

window#waybar {
  background-color: alpha(@background,0.44);
  color: @foreground;
  border-radius: 15;
}

/* === Shared module styles === */
#workspaces,
#scratchpad,
#window,
#disk,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#backlight,
#battery,
#bluetooth {
  padding: 0 0;
  margin: 4;
  margin-top: 4;
  margin-bottom: 4;
  border-radius: 12;
  background: alpha(@background-alt,0.44);
  border: 2 alpha(@foreground,0.44);
  border-style: none dotted none dotted;
}

/* === Conditional Styling === */
#window #network.disconnected {
  color: @critical;
  border: 2px solid @critical;
}

/* === Battery Critical Animation === */
@keyframes blink-critical {
  0% {
    border-color: @critical;
    color: @critical;
  }

  50% {
    border-color: transparent;
    color: @background;
  }

  100% {
    border-color: @critical;
    color: @critical;
  }
}

#window #battery.critical {
  animation: blink-critical 1s infinite;
  border: 2px solid @critical;
  color: @critical;
}
